#social-icons {list-style-type: none;}
#social-icons a {border-radius:2px; border:0px; display:inline-block;}
 
a.facebook{display:block; background: url(../images/social-icons.png) no-repeat 0 -30px; width:30px; height:30px;}
a.facebook:hover{background-position: 0 0;}
 
a.twitter{display:block; background: url(../images/social-icons.png) no-repeat -30px -30px; width:30px; height:30px;}
a.twitter:hover{background-position:-30px 0;}
 
a.youtube{display:block; background: url(../images/social-icons.png) no-repeat -60px -30px; width:30px; height:30px;}
a.youtube:hover{background-position:-60px 0;}
 
a.instagram{display:block; background: url(../images/social-icons.png) no-repeat -90px -30px; width:30px; height:30px;}
a.instagram:hover{background-position:-90px 0;}
 
a.linkedin{display:block; background: url(../images/social-icons.png) no-repeat -120px -30px; width:30px; height:30px;}
a.linkedin:hover{background-position:-120px 0;}
 
a.tumblr{display:block; background: url(../images/social-icons.png) no-repeat -150px -30px; width:30px; height:30px;}
a.tumblr:hover{background-position:-150px 0;}
 
a.googleplus{display:block; background: url(../images/social-icons.png) no-repeat -180px -30px; width:30px; height:30px;}
a.googleplus:hover{background-position:-180px 0;}