.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite {border-radius:2px; border:0px; display:inline-block;}

.sprite-facebook-bg {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-facebook-bg:hover {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-googleplus-bg {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-googleplus-bg:hover {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-instagram-bg:hover {
    width: 30px;
    height: 30px;
    background-position: -45px -45px;
}

.sprite-instagram-bg {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}

.sprite-tumblr-bg {
    width: 30px;
    height: 30px;
    background-position: -5px -85px;
}

.sprite-tumblr-bg:hover {
    width: 30px;
    height: 30px;
    background-position: -45px -85px;
}

.sprite-twitter-bg {
    width: 30px;
    height: 30px;
    background-position: -85px -85px;
}

.sprite-twitter-bg:hover {
    width: 30px;
    height: 30px;
    background-position: -125px -5px;
}

.sprite-youtube-bg {
    width: 30px;
    height: 30px;
    background-position: -125px -45px;
}

.sprite-youtube-bg:hover {
    width: 30px;
    height: 30px;
    background-position: -125px -85px;
}