<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<img class="pull-left navbar-logo" src="images/logo.png" alt="Logo (imagen de una rosa)">
		<a class="navbar-brand" href="#">La Rosa de los Vientos</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navegacion">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sobre nosotros <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="html/quienesSomos.html">¿Quiénes somos?</a></li>
					<li><a href="html/dondeEstamos.html">¿Dónde estamos?</a></li>
				</ul>
			</li>
			<li><a href="html/tarifas.html">Tarifas</span></a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instalaciones y servicios <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="html/instalaciones.html">Instalaciones</a></li>
					<li><a href="html/servicios.html">Servicios</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="html/galeria.html">Galería</a></li>
				</ul>
			</li>
			<li><a href="html/contacto.html">Contacto</span></a></li>
	  	</ul>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
