// ----------------------------------------------------
// COLORES DE LA PALETA
// ----------------------------------------------------
@color-primary-0: #003E41;	/* Main Primary color */
@color-primary-1: #021F20;
@color-primary-2: #0E383A;
@color-primary-3: #017B81;
@color-primary-4: #2B9196;

@color-complement-0: #6B3100;	/* Main Complement color */
@color-complement-1: #351A03;
@color-complement-2: #613917;
@color-complement-3: #D56200;
@color-complement-4: #F89846;

// ----------------------------------------------------
// VARIABLES SUSCEPTIBLES DE CAMBIOS
// ----------------------------------------------------
// Ancho del slider de cabecera
@slider-width: 640px;
@slider-height: 515px;

// Color del aside
@aside-color: @color-complement-4;

// ----------------------------------------------------
// MIXINS
// ----------------------------------------------------
.max-height {
	height: 100%;
}

.common-aside {
	// Letra
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	// Aside flotando a la izquierda, section flotando a la derecha
	float: left;
	// Posición absoluta
	position: absolute;
	top: 0px;
	bottom: 0px;
	// Color de fondo
	background-color: @aside-color;
	margin: 10px 0px 25px 0px;
	// Borde
	border: 3px outset lighten(@color-complement-4, 15%);
}

.common-page {
	// A la derecha
	float: right;
	.max-height;
	margin: 10px 0px;
}

// Panel
.panel {
	min-height: @slider-height;
	margin: 0px;
	padding: 10px 10px 50px 10px;
}

// ----------------------------------------------------
// CSS GENERAL COMUN
// ----------------------------------------------------

// Widget puntuación
#CDSRATINGWIDGET327 {
	margin: 0px auto;
}

// Tiempo
.tiempo {
	margin: 0px auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px none #ffffff;
}

// Iconos redes sociales
#social-icons {
	height: 100%;
	padding: 10px;
}

// Color de fondo del formulario de contacto
form.contacto {
	padding: 5%;
	background-color: @color-complement-4!important;
	margin-bottom: 0px;

	// Uso los help-block para mostrar errores, por lo que los oculto de entrada
	.help-block {
		display: none;
	}
}

// Titulos de la tabla en blanco
thead th {
	background-color: #4C8184;
	color: #ffffff;
}

// Padding en el logo de la barra de navegación para que no se pegue a las letras
.navbar-logo {
	padding: 0px 10px;
}

// Caja del slider de cabecera
.bx-wrapper, {
	// Ancho del slider de imágenes	
	width: @slider-width;
	// Centrar el slider
	margin: auto !important;
	// Correción para centrar la imagen
	img {
    	margin: 0 auto;
	}
}

// Contenedor en posicion relativa
.container {
	position: relative;
	.max-height;
}

// Borde del panel de contenido de la web
section.panel {
	border: 2px solid @color-primary-0;
}
// ----------------------------------------------------
// MEDIA QUERIES POR TAMAÑO
// ----------------------------------------------------
// Para las propiedades calculadas indico en un comentario el tamaño en px que le daría si la pantalla tuviera 1000px de ancho

// Estilo para móviles (sin media query, es por defecto)
aside {
	margin: 0px;
}

#page {
	width: 80%;
	margin: 0px auto;
}

// Estilo para tablets
@media screen
	and (min-device-width: 768px)
	and (max-device-width: 1199px) {

	#page {
		width: 65.104166667%; // 500px
		margin: 1.302083333% 0.651041667% 1.302083333% 3.255208333%; // 10px 5px 10px 25px
		.common-page;
	}

	aside.panel {
		width: 26.041666667%; // 200px
		margin: 1.302083333% 0.651041667% 1.302083333% 3.255208333%; // 10px 5px 10px 25px
		.common-aside;
	}
}

// Estilo para monitores de portatil y sobremesas
@media screen 
	and (min-device-width: 1200px) {
	
	#page {
		width: 70%; // 900px;
		margin: 1% 0.5% 1% 2.5%; // 10px 5px 10px 25px
		.common-page;
	}

	aside.panel {
		margin: 1% 0.5% 1% 2.5%; // 10px 5px 10px 25px
		min-height: 720px;
		.common-aside;
	}

}